.photo-grid {
    max-width: 1280px;
    margin: 92px auto 0;
    padding: 0 48px 0;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin-top: 88px;                  
    }                
}

@media screen and (max-width: 800px) {
    .photo-grid {
        padding: 0 24px 0;                
    }                
}

@media screen and (max-width: 500px) {
    .photo-grid {
        margin-top: 64px;
        padding: 0 16px 0;
    }                
}