.lead__title {
    margin: 0 auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    max-width: 720px;

}

@media screen and (max-width: 714px) {
    .lead__title {
        max-width: 288px; 
        font-size: 40px;
        line-height: 44px;
    }               
}

