.intro {
    padding: 92px 148px 0;
    max-width: 984px;
    margin: 0 auto;

}

@media screen and (max-width: 1066px) {
    .intro {
        padding: 92px 48px 0;                 
    }                
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 24px 0;                 
    }                
}

@media screen and (max-width: 600px) {
    .intro {
        padding: 64px 16px 0;                 
    }                
}