.cover {
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    max-width: 1184px;
    min-height: 740px;
    margin: 92px auto;
    flex-direction: column;
    justify-content: center;
    cursor: url(../../images/Imported\ Layers\ Copy\ 4.png), default;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity .3s ease-in;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
      min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
      min-height: 480px;
      margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover { 
      min-height: 200px;
      margin-bottom: 64px;
  }
}